.heading {
  font-size: 5rem;
  line-height: 5px;
  font-family: "Google Sans Bold";
  color: var(--white);
}

.description {
  font-size: 1.8rem;
  line-height: 45px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
  color: var(--gray);
  margin-top: 60px;
}

.name {
  color: var(--cerise-red);
}

@media(max-width: 768px) {
  .heading {
    font-size: 3.5rem;
  }
}