.heading {
  margin-top: 8rem;
  font-size: 5rem;
  line-height: 5px;
  font-family: "Google Sans Bold";
  color: var(--white);
}

.description {
  font-size: 1.8rem;
  line-height: 45px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
  color: var(--gray);
  margin-top: 60px;
}

.name {
  color: var(--cerise-red);
}

.button {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  padding: 15px 15px;
  margin-top: 25px;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
  font-family: "Google Sans Regular";
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: var(--hippie-pink);
}

.button:hover {
  box-shadow: 0 5px 15px var(--hippie-pink);
}

@media(max-width: 768px) {
  .button {
    display: none;
  }

  .heading {
    font-size: 3.5rem;
  }
}