.container {
  margin-top: 8rem;
}

.header {
  margin-top: 12rem;
}

.content {
  display: flex;
}

.headerText {
  font-size: 4rem;
  line-height: 1.1rem;
  font-family: "Google Sans Regular";
  text-align: center;
  color: var(--white);
}

.avatar > svg {
  width: 100%;
  height: auto;
}

@media(max-width:768px) {
  .header {
    margin-top: 4rem;
  }

  .headerText {
    font-size: 2.8rem;
  }

  .content {
    flex-direction: column;
  }
}