.container {
  width: 90%;
  margin-top: 8rem;
}

.header {
  margin-top: 12rem;
}

.content {
  display: flex;
}

.headerText {
  font-size: 4rem;
  line-height: 1.1rem;
  font-family: "Google Sans Regular";
  text-align: center;
  color: var(--white);
}