.description {
  font-size: 1.5rem;
  line-height: 45px;
  font-family: "Google Sans Regular";
  color: var(--gray);
}

.name {
  color: var(--cerise-red);
}


@media(max-width: 768px) {
  .heading {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.3rem;
  }
}